@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Space+Mono:wght@700&display=swap');

// colors
$tomato: hsl(4, 100%, 67%);
$darkSlateGrey: hsl(234, 29%, 20%);
$charcoalGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$green : hsl(165, 100%, 25%);
$redError: hsl(0, 100%, 93%);
// font
$roboto: 'Roboto', sans-serif;